<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Need:</strong>
  <%= @task.need %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @task.resolution %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @task.issue %>
</p>

<p>
  <strong>Additionallinks:</strong>
  <%= @task.additionallinks %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
