@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding-left:15px;
}
a{
    padding:5px;
    &:hover{
        text-decoration:none;
    }
}
td{
    padding-left:5px;
}
table{
    thead{
        background:#428bca;
         tr{
             color:#fff;
         }
    }

    margin:10px;
    tr{
        color:#2a6496;
        &:nth-child(even){
            background: #EFEFEF;
        }
        &:hover{
            background:#428bca;
            color:white;
        }
    }
    td{
    width: 50%;
    line-height: 24px;
    padding: 2px 12px;
    border: 1px solid #ddd;
        a{
            all:inherit;
            border:none;
            &:visited{
            all:inherit;
            border:none;
            }
            &:hover{
                all:inherit;
                border:none;
            }
        }
    }
}
textarea {
    margin: 0px;
    width: 500px;
    height: 200px;

}
input{
    width:400px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0px -1px 0px;
    border-radius: 4px;
}
